body {
		  
		  	margin: 0;
		  	font-family: 'Arial';
		}







a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  color:            #777777;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;

  color:            #777777;
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  font-weight:      bold;

  color: orange;
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  font-weight:      bold;
  background-color: black;
  color: white;
  } 




@media screen and (min-width: 641px) 
  and (max-width: 959px) 
	{
    body {
        color: black; 
        background-image: url("../images/cork-wallet.png");

    	}

header {

		height: 70px;
		background-color: white;
			overflow: hidden;
		}


	#content {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			}



	#navigation {
				margin-top: -75px;
				margin-left: 350px;
				height: 100%
				color:  #777777;
	 			font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

				}


	#main {
		margin-top: 20px;
		margin-bottom: 5px;
		background-color: #ffffff;
		width: 100%;
	    overflow: auto;
	    border: 5px;
	    border-color: black;
	    color: #777777;
		font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 13px;
		display:inline-block;
	}


	aside {
			background: white;
			float: left;
			width: 100%;
			height: 250px;
			padding: 20px;
			margin-right: 20%;
			margin-bottom: 20px;
			margin-left: 20%;
			}


	#picbox {	
		padding: 15px;
		margin-bottom: 5px;
		margin-top: 30px;
		margin-left: 10%;
		margin-right: 10%;
		background-color: #ffffff;
		width: 80%;
		height: auto;
	    overflow: auto;
	    border: 5px;
	    border-color: black;
	    color: #777777;
		font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 13px;
			}




#titletag{
		background-color: #4aaaa5;
		margin-left: 100px;
		padding: 1rem;
		height: 100%;
		width: 200px;
		text-align: center;
		font-size: 20px;
		font-family: 'Futura';

		}


#about{
			margin-top: 20px;
			color: #4aaaa5;
 			font-family: 'Futura';
 			font-size: 20px;
	}



		
#division {

	padding: 1px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	width: 90%;
	background:  #6ea3da;

}

h2 p { 
   color: white; 
   font:  12px/18px Helvetica, Sans-Serif; 
   letter-spacing: 2px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(74,170,165,0.7);
   padding: 5px; 
 	margin-top: 70px;
 }

.picleft 
 {

	float: left;
	position: relative;
	margin-left: 50px;
	margin-top: 20px;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	}

.picright 
 	{
	float: right;
	position: relative;
	margin-right: 50px;
	margin-top: 20px;
    border-style: solid;
	border-width: 1px;
	text-align: center;
	}

#pic1 {
		width: 180px;
		height: 120px;
		background-image: url("../images/port1.png");
		background-size: contain;
		  line-height: 190px;
		}

#pic2 {
		width: 180px;
		height: 120px;
		background-image: url("../images/port2.png");
		background-size: contain;
		line-height: 190px;
		}
#pic3 {
		width: 180px;
		height: 120px;
		background-image: url("../images/port3.png");
		background-size: contain;
		line-height: 190px;
		}
#pic4 {
		width: 180px;
		height: 120px;
		background-image: url("../images/port4.png");
		background-size: contain;
		line-height: 190px;
		}
#pic5 {
		width: 180px;
		height: 120px;
		background-image: url("../images/port5.png");
		background-size: contain;
		  line-height: 190px;
		}



	

	#sidebar {
			padding-bottom: 10px;
			color: #4aaaa5;
			width: 100%;
		 	background: white;
			font-size: 20px;
			font-family: 'Futura';
			display: inline-block;
			  position: relative;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  padding: 1rem;
			  margin-bottom: 10px;
				}


	footer {
		padding-top: 30px;
		margin-top: 30px;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  background-color: #efefef;
		  text-align: center;
		  height: 22px;
		  font-size: 30px;
		  font-family: 'Futura';
		  color: gray;
		  font-size: 5px;
		  display: inline-block;
		}

}




@media screen and (min-width:  960px) {
    body {
    	background-image: url("../images/cork-wallet.png");
        color: black;
    }

header {

		height: 70px;
		background-color: white;
			overflow: hidden;
		}

		#content {
				width: 960px;
				margin-left: auto;
				margin-right: auto;
				}



		#navigation {
					margin-top: -70px;
					margin-left: 700px;
					height: 100%
					color:  #777777;
		 			font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

					}


		#main {
				float: left;
				position: absolute;
				padding: 15px;
				margin-bottom: 5px;
				margin-top: 30px;
				background-color: #ffffff;
				width: 650px;
			    overflow: auto;
			    border: 5px;
			    border-color: black;
			    color: #777777;
				font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
				font-size: 13px;
			}


		aside {
				background: white;
				float: left;
				width: 420px;
				height: 250px;
				padding: 20px;
				margin-right: 20px;
				}




		#sidebar {
				clear: all;
				float: right;
				padding-top: 30px;
				padding-bottom: 10px;
		 		margin-top: 30px;
				color: #4aaaa5;
				width: 270px;
			 	background: white;
				font-size: 20px;
						font-family: 'Futura';
				}




		#picbox {	
			float: left;
			position: absolute;
			padding: 15px;
			margin-bottom: 5px;
			margin-top: 30px;
			background-color: #ffffff;
			width: 500px;
			height: auto;
		    overflow: auto;
		    border: 5px;
		    border-color: black;
		    color: #777777;
			font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
			font-size: 13px;
				}




#titletag{
		background-color: #4aaaa5;
		margin-left: 100px;
		padding: 1rem;
		height: 100%;
		width: 200px;
		text-align: center;
		font-size: 20px;
		font-family: 'Futura';

		}


#about{
			margin-top: 20px;
			color: #4aaaa5;
 			font-family: 'Futura';
 			font-size: 20px;
	}



		
#division {

	padding: 1px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	width: 90%;
	background:  #6ea3da;

}

h2 p { 
   color: white; 
   font:  12px/18px Helvetica, Sans-Serif; 
   letter-spacing: 2px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(74,170,165,0.7);
   padding: 5px; 
 	margin-top: 70px;
 }

.picleft 
 {

	float: left;
	position: relative;
	margin-left: 50px;
	margin-top: 20px;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	}

.picright 
 	{
	float: right;
	position: relative;
	margin-right: 50px;
	margin-top: 20px;
    border-style: solid;
	border-width: 1px;
	text-align: center;
	}

#pic1 {
		width: 180px;
		height: 120px;
		background-image: url("../images/port1.png");
		background-size: contain;
		  line-height: 190px;
		}

#pic2 {
		width: 180px;
		height: 120px;
		background-image: url("../images/port2.png");
		background-size: contain;
		line-height: 190px;
		}
#pic3 {
		width: 180px;
		height: 120px;
		background-image: url("../images/port3.png");
		background-size: contain;
		line-height: 190px;
		}
#pic4 {
		width: 180px;
		height: 120px;
		background-image: url("../images/port4.png");
		background-size: contain;
		line-height: 190px;
		}
#pic5 {
		width: 180px;
		height: 120px;
		background-image: url("../images/port5.png");
		background-size: contain;
		  line-height: 190px;
		}


		footer {
		  position: absolute;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  padding: 1rem;
		  background-color: #efefef;
		  text-align: center;
		  height: 22px;
		  font-size: 30px;
		  font-family: 'Futura';
		  color: gray;
		  font-size: 5px;
			}

}






@media screen and (max-width: 640px) {
    body {
    	background-image: url("../images/cork-wallet.png");
        color: black;
    }

header {

		background-color: white;
		}


	#content {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			}



	#navigation {
				text-align: center;
				margin-top: 10px;
		 		background-color: white;
		 		font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
				font-size: 16px;
				}


	#main {

		margin-top: 20px;
		margin-bottom: 5px;
		background-color: #ffffff;
		width: 100%;
	    overflow: auto;
	    border: 5px;
	    border-color: black;
	    color: #777777;
		font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 13px;
		display:inline-block;
	}


	aside {
			background: white;

			width: 100%;
			height: 250px;
			padding: 20px;
			margin-right: 20%;
			margin-bottom: 20px;
			margin-left: 20%;
			}


	#picbox {	

		padding: 15px;
		margin-bottom: 5px;
		margin-top: 30px;
		margin-left: 10%;
		margin-right: 10%;
		background-color: #ffffff;
		width: 80%;
		height: auto;
	    overflow: auto;
	    border: 5px;
	    border-color: black;
	    color: #777777;
		font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 13px;
			}




#titletag{
		background-color: #4aaaa5;
		padding: 1rem;
		height: 100%;
		width: 100%;
		text-align: center;
		font-size: 20px;
		font-family: 'Futura';

		}


#about{
			margin-top: 20px;
			color: #4aaaa5;
 			font-family: 'Futura';
 			font-size: 20px;
	}



		
#division {

	padding: 1px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	width: 90%;
	background:  #6ea3da;

}

h2 p { 
   color: white; 
   font:  12px/18px Helvetica, Sans-Serif; 
   letter-spacing: 2px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(74,170,165,0.7);
   padding: 5px; 
 	margin-top: 70px;
 }

.picleft 
 {

	float: left;
	position: relative;
	margin-left: 50px;
	margin-top: 20px;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	}

.picright 
 	{
	float: right;
	position: relative;
	margin-right: 50px;
	margin-top: 20px;
    border-style: solid;
	border-width: 1px;
	text-align: center;
	}

#pic1 {
		width: 80%;
		height: 250px;
		background-image: url("../images/port1.png");
		background-size: 100%;
		  line-height: 190px;
		}

#pic2 {
		width: 80%;
		height: 250px;
		background-image: url("../images/port2.png");
		background-size: contain;
		line-height: 190px;
		}
#pic3 {
		width: 80%;
		height: 250px;
		background-image: url("../images/port3.png");
		background-size: contain;
		line-height: 190px;
		}
#pic4 {
		width: 80%;
		height: 250px;
		background-image: url("../images/port4.png");
		background-size: contain;
		line-height: 190px;
		}
#pic5 {
		width: 80%;
		height: 250px;
		background-image: url("../images/port5.png");
		background-size: contain;
		  line-height: 190px;
		}



	#sidebar {
			padding-bottom: 10px;
			color: #4aaaa5;
			width: 100%;
		 	background: white;
			font-size: 20px;
			font-family: 'Futura';
			display: inline-block;
			  position: relative;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  padding: 1rem;
			  margin-bottom: 10px;
				}


	footer {
		padding-top: 30px;
		margin-top: 30px;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  background-color: #efefef;
		  text-align: center;
		  height: 22px;
		  font-size: 30px;
		  font-family: 'Futura';
		  color: gray;
		  font-size: 5px;
		  display: inline-block;
		}

}