body {
		  background-image: url("../images/cork-wallet.png");
		}

header {

		height: 70px;
		background-color: white;
			overflow: hidden;
		}

#content {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
		}

#titletag{
		background-color: #4aaaa5;
		margin-left: 100px;
		padding: 1rem;
		height: 100%;
		width: 200px;
		text-align: center;
		font-size: 20px;
		font-family: 'Futura';

		}


#navigation {
			margin-top: -70px;
			margin-left: 700px;
			height: 100%
			color:  #777777;
 			font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

			}
#about{
			margin-top: 20px;
			color: #4aaaa5;
 			font-family: 'Futura';
 			font-size: 20px;
	}

#main {
	float: left;
	position: absolute;
	padding: 15px;
	margin-bottom: 5px;
	margin-top: 30px;
	background-color: #ffffff;
	width: 650px;
    overflow: auto;
    border: 5px;
    border-color: black;
    color: #777777;
	font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 11px;
}

#sidebar {
		clear: all;
		float: right;
		padding-top: 30px;
		padding-bottom: 10px;
 		margin-top: 30px;
		color: #4aaaa5;
		width: 270px;
	 	background: white;
		font-size: 20px;
				font-family: 'Futura';
		}
		
#division {

	padding: 1px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	width: 90%;
	background:  #6ea3da;

}



aside 	{
		background: white;
		float: left;
		padding: 20px;
		margin-right: 20px;
		}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  height: 20px;
  font-size: 20px;
  font-family: 'Futura';
}



a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  color:            #777777;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;

  color:            #777777;
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  font-weight:      bold;

  color: orange;
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  font-weight:      bold;
  background-color: black;
  color: white;
  } 